body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login {
  background-color: #fff;
  padding: 200px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
form {
  margin-top: 20px;
}
input {
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
}
button {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #fff;
  background: #f05123;
  cursor: pointer;
}
button:hover {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
