* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dcc6e2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.container {
  max-width: 500px;
  margin-top: 100px;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
}
.container:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
h1 {
  font-size: 2.8rem;
}
.avatar {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s;
}
.avatar:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.section-desc {
  font-size: 2rem;
  margin: 10px 0 20px;
}
.section-desc--nd {
  font-size: 1.7rem;
  color: #333;
}
a {
  text-decoration: none;
}
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 2rem;
  margin: 20px;
}
.button-btn {
  width: 100%;
  padding: 20px;
  border: 1px solid transparent;
  background-color: #eca8b3;
  border-radius: 99px;
  color: #fff;
  transition: 0.3s;
}
.button-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  background-color: #c76262;
  color: #000;
}
h2 {
  font-size: 3rem;
}
.skill span {
  display: inline-block;
  background-color: #bd9595;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 10px;
  font-size: 1.8rem;
}
.social {
  display: inline-block;
  margin: 20px;
  font-weight: bold;
}
.social-cta {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: #6666f3;
  color: #000;
  transition: 0.3s;
}
.social p {
  margin-top: 30px;
  font-size: 2rem;
}
.social-cta:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: #a5a5f1;
}
